<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<div class="information">

  <div class="containerTop">
    <h2 class="txtTop">Informacion</h2>
  </div>

  <div class="containerMid">
    <div class="interMid">
      <div>
        <li class="liTxt">Los <b>EVENTOS</b> se identificaran con el color Amarillo</li>
        <div class="cuadro">
          <div class="headEvento"></div>
        </div>
      </div>

      <div>
        <li class="liTxt">Las <b>CITAS</b> se identificaran con el color Celeste</li>
        <div class="cuadro">
          <div class="headCita"></div>
        </div>
      </div>


      <div>
        <li class="liTxt">Las agendas que contengan tanto <b>EVENTOS</b> como <b>CITAS</b>
           se     representaran con una division en el calendario</li>
           <div class="cuadroEC">
            <div class="headEvento"></div>
            <div class="headCita"></div>
          </div>
      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="containerBottom">
    <button type="button" class="btnClose">
      Cerrar
    </button>
  </div>

</div>
