<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

<div class="princPartSup">
  <div class="contData">
    <div class="contInfo">
      <h1>{{mesName}}</h1>
      <h1>{{anio}}</h1>
    </div>
    <div class="contMov">
      <button type="button"> < </button>
      <button type="button"> > </button>
    </div>
  </div>
</div>
